@model ProAuto.DTOs.ListaAssociadosDTO

@{
    ViewData["Title"] = "Associados";
}

<div class="proauto-main">
    <section class="main-card">
        <header>
            <div class="main-card-icon">
                <i class="fa-solid fa-user-tie"></i>
            </div>
            <div>
                <span>
                    Associados Cadastrados
                </span>
            </div>
        </header>
        <div class="main-card-content">
            <div class="associados-search">
                <input type="text" placeholder="Digite para pesquisar..." />
            </div>
            <div class="associados-cards">
                @foreach (var item in Model.Associados!)
                {
                    <div class="associado-card">
                        <header>
                            <div class="associado-icon icon-plus">
                                <i class="fa-regular fa-plus"></i>
                            </div>
                            <div class="associado-icon icon-minus">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <div class="associado-name">
                                <span class="acard-info" data-type="nome">@Html.DisplayFor(modelItem => item.Nome)</span>
                            </div>
                            <a asp-controller="associados" asp-action="editar" class="decoration-none"
                                asp-route-id="@item.Id">
                                <div class="associado-edit">
                                    <div class="associado-edit-icon">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </div>
                                    <div>
                                        <span>Editar</span>
                                    </div>
                                </div>
                            </a>

                        </header>
                        <div class="associado-card-content">
                            <div>
                                <div class="d-flex">
                                    <div class="associado-info wid-30">
                                        <label>CPF</label>
                                        <span class="acard-info mascara-cpf" data-type="cpf">@Html.DisplayFor(modelItem =>
                                        item.CPF)</span>
                                    </div>
                                    <div class="associado-info wid-30">
                                        <label>Telefone</label>
                                        <span class="acard-info mascara-telefone"
                                            data-type="telefone">@Html.DisplayFor(modelItem =>
                                        item.Telefone)</span>
                                    </div>
                                    <div class="associado-info wid-30">
                                        <label>Qtd. Veiculos</label>
                                        <span class="acard-info" data-type="veiculos-quantidade">@Html.DisplayFor(modelItem
                                        => item.Veiculos!.Count)</span>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="associado-info wid-30">
                                        <label>Estado</label>
                                        <span class="acard-info" data-type="estado">@Html.DisplayFor(modelItem =>
                                        item.Endereco!.Estado)</span>
                                    </div>
                                    <div class="associado-info wid-30">
                                        <label>Cidade</label>
                                        <span class="acard-info" data-type="cidade">@Html.DisplayFor(modelItem =>
                                        item.Endereco!.Cidade)</span>
                                    </div>
                                    <div class="associado-info wid-30">
                                        <label>Complemento</label>
                                        <span class="acard-info" data-type="complemento">@Html.DisplayFor(modelItem =>
                                        item.Endereco!.Complemento)</span>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="associado-info wid-30">
                                        <label>Bairro</label>
                                        <span class="acard-info" data-type="bairro">@Html.DisplayFor(modelItem =>
                                        item.Endereco!.Bairro)</span>
                                    </div>
                                    <div class="associado-info wid-30">
                                        <label>Rua</label>
                                        <span class="acard-info" data-type="rua">@Html.DisplayFor(modelItem =>
                                        item.Endereco!.Rua)</span>
                                    </div>
                                    <div class="associado-info wid-30">
                                        <label>Numero</label>
                                        <span class="acard-info" data-type="numero">@Html.DisplayFor(modelItem =>
                                        item.Endereco!.Numero)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                <a asp-action="registrar">
                    <div class="proauto-btn">
                        <span>Novo</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
