@model ProAuto.DTOs.ListaAssociadosDTO

@{
    ViewData["Title"] = "Associados";
}

<h4>Associados</h4>

<p>
<a asp-action="registrar">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Associados![0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Associados![0].CPF)
            </th><th>
                @Html.DisplayNameFor(model => model.Associados![0].Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Associados!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    <a asp-action="editar" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
